body {
    margin: 60px auto;
    width: 80%;
    background-color: #FBFFB9;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a.gitlink {
    font-size: 40px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 45px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #FBFFB9;
    margin-top: 110px;
}
h1.black {
    margin-top: 25px;
    color: #383A3F;
}
h2 {
    font-size: 30px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #383A3F;
}
p {
    font-size: 28px;
    line-height: 1.4em;
    color: #383A3F;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: justify;
}
p.blurbs {
    font-size: 16px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 20px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.prof {
    border-radius: 5%;
}
img.mobile {
    border-radius: 12.5%;
}

.header {
    background-image: url(http://www.mrwallpaper.com/wallpapers/blue-sky-clouds-2560x1600.jpg);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 275px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.blurb {
    margin-top: 320px;
    display: flex;
    flex-direction: row;
}

.profpic {
    margin-left: 0px;
    margin-right: 20px;
}

.text {
    margin-top: -25px;
}

.portfolio {
    display: flex;
    justify-content: center;
}

.egimages {
    display: flex;
    justify-content: space-between;
}